<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SERLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="shortcut icon" href="<%= assetUrl('favicon.ico') %>">
    <link rel="stylesheet" href="<%= assetUrl('main.css') %>">
    <% if (isProduction) { %>
      <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
      <script>
        Raven.config('https://5df44196d1d94540a73b05cf62855b20@sentry.io/220526').install();
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <script src="<%= assetUrl('main.js') %>"></script>
  </body>
</html>
