@require 'nib/reset'
@require './mixin'


$img_path = '../images/'

//
// Reset
//
reset-html5()
global-reset()


//
// Globals
//
*
  &, &:before, &:after
    box-sizing: border-box

html
  font-size: 10px
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

body
  font-size: 12px
  font-family: Roboto, BlinkMacSystemFont, -apple-system, Segoe UI, Helvetica, Arial, sans-serif

#logo
  display: flex
  align-items: center
  i
    icon($img_path + 'logo', 50px, 50px, 'svg')
    margin-right: 10px
